<nav>
<% if current_user %>
    <p> Wellcome <%= link_to current_user.name , user_path(current_user.id) %> -
     <%= link_to 'logout',logout_path,method:"post" %> - 
     <%= link_to "Create An Event", new_event_path %> - 
    <%= link_to "All events", events_path %>
    </p>
   
<% else %>
    <div class="center">
    <h2> Greetings and welcome to Party Planner!</h2>
    <h3>Sign up, create parties and invite your friends!</h3>
     <p><%= link_to 'login',login_path %> - <%= link_to 'signup',signup_path %>  </p>
     </div>
<% end %>
</nav>