<h1> <%= @event.title%> </h1>
<p> <strong>Info:</strong> <%= @event.info %>  <p>
<p><strong>Date:</strong> <%= @event.date %> </p>
<p> <strong>Created by:</strong> <%= @event.creator.name%></p>

<% if current_user.id == @event.creator.id %>
    <p> You can Invite users </p>
    <%= form_for @attendance,method:"POST", url:{controller:"attendance",action:"create"} do |f|%>

        <%= f.select(:attendee_id, options_for_select(User.all.collect{|u| [u.name,u.id]}), prompt: "Please Select") %>

        <%= f.hidden_field :attended_event_id, value: @event.id%>
        <%= f.submit "Add"%>
    <% end %>
<% else %>
   
    <% if !@event.attendees.exists?(current_user.id) %>
    <%= form_for @attendance,method:"POST", url:{controller:"attendance",action:"create"} do |f|%>
        <%= f.hidden_field :attendee_id, value: current_user.id %>
        <%= f.hidden_field :attended_event_id, value: @event.id%>
        <p> You are not welcome here. </p>
    <% end %>
    <% end %>
<% end %>
<hr/>
<p>Attending this event: </p>
<% if @event.attendees.any? %>
    <% @event.attendees.each do |attendee| %>
        <ul>
            <li> <%= attendee.name%> </li>
        </ul>
    <% end %>
<% else %>
<p> There are no attendees on this event </p>
<% end %>

